<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303170165445-8v78he3rhg71tkhas9uq068fjfo7duaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303170165445-8v78he3rhg71tkhas9uq068fjfo7duaq</string>
	<key>API_KEY</key>
	<string>AIzaSyApvGM98XAu6E3QkDNxBtejM7IWg9wwuA4</string>
	<key>GCM_SENDER_ID</key>
	<string>303170165445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tragofone.app</string>
	<key>PROJECT_ID</key>
	<string>tragofone-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tragofone-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:303170165445:ios:3e455acfe3aac84fd92eac</string>
</dict>
</plist>
