/* FONTS LINK */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "global.css";
@import "light.css";
@import "dark.css";

.audio-player {
    position: relative;
    /** TRAG-5075 audio css solve add following properties */
    display: flex;
    align-items: center;
    column-gap: 2px;
}
.audioplayer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 48px;
    border-radius: 8px;
    padding: 5px;
}

.audioplayer-playpause {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-color: var(--primary-bg);
}

.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
    content: '';
    justify-content: center;
    width: 0;
    height: 0;
    margin-left: 2px;
    border-top: 5px solid transparent;
    border-right: none;
    border-bottom: 5px solid transparent;
    border-left: 8px solid var(--white-color);
}

.audioplayer-playing .audioplayer-playpause a::before, .audioplayer-playing .audioplayer-playpause a::after {
    content: '';
    width: 2px;
    height: 8px;
    background-color: var(--white-color);
}


.audioplayer-playing .audioplayer-playpause a {
    content: '';
    display: flex;
    justify-content: space-between;
    width: 6px;
    height: 8px;
}

.audioplayer-time {
    display: flex;
    width: 35px;
    justify-content:center;
    color: var(--text-dark-grey-to-white);
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
}

.slash{
    font-size: 12px;
    color: var(--text-dark-grey-to-white) !important;
}

.audioplayer-time-current {
    margin-left: 5px;
}

.audioplayer-bar {
    position: relative;
    display: flex;
    margin: 0px 10px 0px 5px;
    height: 12px;
    flex-basis: 0;
    flex-grow: 1;
    cursor: pointer;
}

.audioplayer-bar::before {
    content: '';
    position: absolute;
    top: 2px;
    width: 100%;
    height: 8px;
    border-radius: 30px;
    background: #E0E5F1;
}

.audioplayer-bar-loaded {
    z-index: 1;
    height: 8px;
    border-radius: 30px;
}

.audioplayer-bar > div {
    position: absolute;
    left: 0;
    top:2px;
}

.audioplayer-bar-played {
    flex-direction: row-reverse;
    z-index: 2;
    height: 8px;
    background-color: var(--secondary-color);
    border-radius: 30px;
}

.audioplayer-bar-played::after {
    content: unset;
}


.audioplayer-volume {
    display: flex;
    align-items: center;
}

.audioplayer-volume-button {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.audioplayer-volume-button a {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
    mask-image: url("data:image/svg+xml,%3Csvg width='24' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.8263 0.108738C12.084 0.216945 12.3042 0.400106 12.4592 0.635063C12.6141 0.87002 12.6968 1.14622 12.6967 1.42875V18.5717C12.6966 18.8542 12.6139 19.1304 12.4589 19.3652C12.3038 19.6001 12.0835 19.7832 11.8258 19.8913C11.568 19.9994 11.2844 20.0277 11.0108 19.9726C10.7372 19.9175 10.4859 19.7815 10.2886 19.5817L5.05893 14.286H1.41074C1.03659 14.286 0.677764 14.1355 0.413198 13.8676C0.148632 13.5996 0 13.2363 0 12.8574V7.14307C0 6.76419 0.148632 6.40082 0.413198 6.13291C0.677764 5.865 1.03659 5.71449 1.41074 5.71449H5.05893L10.2886 0.41874C10.4858 0.218835 10.7373 0.0826778 11.011 0.027496C11.2847 -0.0276857 11.5684 0.000587269 11.8263 0.108738ZM15.9315 6.13307C16.1961 5.86525 16.5549 5.7148 16.9289 5.7148C17.303 5.7148 17.6618 5.86525 17.9263 6.13307L19.7504 7.98022L21.5745 6.13307C21.7047 5.99662 21.8603 5.88779 22.0324 5.81292C22.2046 5.73805 22.3897 5.69864 22.577 5.69699C22.7643 5.69534 22.9501 5.73149 23.1235 5.80332C23.2968 5.87515 23.4543 5.98122 23.5868 6.11536C23.7193 6.24949 23.824 6.409 23.8949 6.58456C23.9659 6.76013 24.0016 6.94825 23.9999 7.13793C23.9983 7.32762 23.9594 7.51508 23.8855 7.68937C23.8115 7.86366 23.7041 8.0213 23.5693 8.15308L21.7452 10.0002L23.5693 11.8474C23.8263 12.1168 23.9685 12.4777 23.9653 12.8523C23.9621 13.2268 23.8137 13.5851 23.5521 13.85C23.2906 14.1149 22.9367 14.2651 22.5668 14.2684C22.1969 14.2716 21.8406 14.1276 21.5745 13.8674L19.7504 12.0202L17.9263 13.8674C17.6603 14.1276 17.3039 14.2716 16.934 14.2684C16.5641 14.2651 16.2103 14.1149 15.9487 13.85C15.6872 13.5851 15.5388 13.2268 15.5356 12.8523C15.5324 12.4777 15.6746 12.1168 15.9315 11.8474L17.7556 10.0002L15.9315 8.15308C15.6671 7.88518 15.5185 7.52188 15.5185 7.14307C15.5185 6.76426 15.6671 6.40096 15.9315 6.13307Z' fill='white'/%3E%3C/svg%3E%0A");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='24' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.8263 0.108738C12.084 0.216945 12.3042 0.400106 12.4592 0.635063C12.6141 0.87002 12.6968 1.14622 12.6967 1.42875V18.5717C12.6966 18.8542 12.6139 19.1304 12.4589 19.3652C12.3038 19.6001 12.0835 19.7832 11.8258 19.8913C11.568 19.9994 11.2844 20.0277 11.0108 19.9726C10.7372 19.9175 10.4859 19.7815 10.2886 19.5817L5.05893 14.286H1.41074C1.03659 14.286 0.677764 14.1355 0.413198 13.8676C0.148632 13.5996 0 13.2363 0 12.8574V7.14307C0 6.76419 0.148632 6.40082 0.413198 6.13291C0.677764 5.865 1.03659 5.71449 1.41074 5.71449H5.05893L10.2886 0.41874C10.4858 0.218835 10.7373 0.0826778 11.011 0.027496C11.2847 -0.0276857 11.5684 0.000587269 11.8263 0.108738ZM15.9315 6.13307C16.1961 5.86525 16.5549 5.7148 16.9289 5.7148C17.303 5.7148 17.6618 5.86525 17.9263 6.13307L19.7504 7.98022L21.5745 6.13307C21.7047 5.99662 21.8603 5.88779 22.0324 5.81292C22.2046 5.73805 22.3897 5.69864 22.577 5.69699C22.7643 5.69534 22.9501 5.73149 23.1235 5.80332C23.2968 5.87515 23.4543 5.98122 23.5868 6.11536C23.7193 6.24949 23.824 6.409 23.8949 6.58456C23.9659 6.76013 24.0016 6.94825 23.9999 7.13793C23.9983 7.32762 23.9594 7.51508 23.8855 7.68937C23.8115 7.86366 23.7041 8.0213 23.5693 8.15308L21.7452 10.0002L23.5693 11.8474C23.8263 12.1168 23.9685 12.4777 23.9653 12.8523C23.9621 13.2268 23.8137 13.5851 23.5521 13.85C23.2906 14.1149 22.9367 14.2651 22.5668 14.2684C22.1969 14.2716 21.8406 14.1276 21.5745 13.8674L19.7504 12.0202L17.9263 13.8674C17.6603 14.1276 17.3039 14.2716 16.934 14.2684C16.5641 14.2651 16.2103 14.1149 15.9487 13.85C15.6872 13.5851 15.5388 13.2268 15.5356 12.8523C15.5324 12.4777 15.6746 12.1168 15.9315 11.8474L17.7556 10.0002L15.9315 8.15308C15.6671 7.88518 15.5185 7.52188 15.5185 7.14307C15.5185 6.76426 15.6671 6.40096 15.9315 6.13307Z' fill='white'/%3E%3C/svg%3E%0A");
    mask-repeat: no-repeat;
    mask-size: 72%;
    mask-position: left center;
    background-color: var(--input-icon);
}

.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a {
    mask-image: url("data:image/svg+xml,%3Csvg width='24' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.1773 0.597719C11.4209 0.700664 11.6291 0.874918 11.7755 1.09845C11.9219 1.32198 12.0001 1.58475 12 1.85354V18.1629C11.9999 18.4316 11.9217 18.6944 11.7752 18.9178C11.6287 19.1413 11.4205 19.3154 11.1769 19.4183C10.9333 19.5211 10.6652 19.548 10.4066 19.4956C10.148 19.4432 9.91047 19.3138 9.724 19.1238L4.78133 14.0855H1.33333C0.979711 14.0855 0.640573 13.9423 0.390524 13.6875C0.140476 13.4326 0 13.0869 0 12.7264V7.28998C0 6.92953 0.140476 6.58383 0.390524 6.32895C0.640573 6.07406 0.979711 5.93087 1.33333 5.93087H4.78133L9.724 0.892646C9.91046 0.702462 10.1481 0.572926 10.4068 0.520428C10.6655 0.467929 10.9336 0.494828 11.1773 0.597719ZM18.2093 0.397929C18.4594 0.143135 18.7984 0 19.152 0C19.5056 0 19.8446 0.143135 20.0947 0.397929C22.5067 2.8552 24 6.2557 24 10.0068C24 13.758 22.5067 17.1598 20.0947 19.6185C19.8432 19.8661 19.5064 20.003 19.1568 19.9999C18.8072 19.9969 18.4728 19.8539 18.2256 19.6019C17.9784 19.3499 17.8381 19.0091 17.8351 18.6527C17.8321 18.2963 17.9665 17.953 18.2093 17.6967C19.2015 16.6883 19.9883 15.4899 20.5245 14.1704C21.0606 12.8509 21.3355 11.4364 21.3333 10.0082C21.3333 7.00457 20.1413 4.28907 18.2093 2.31971C17.9594 2.06484 17.819 1.71921 17.819 1.35882C17.819 0.998433 17.9594 0.6528 18.2093 0.397929ZM14.4373 4.2415C14.5612 4.11513 14.7082 4.01488 14.8701 3.94649C15.0319 3.87809 15.2054 3.84289 15.3807 3.84289C15.5559 3.84289 15.7294 3.87809 15.8913 3.94649C16.0531 4.01488 16.2002 4.11513 16.324 4.2415C17.0678 4.99807 17.6577 5.89698 18.0597 6.88661C18.4618 7.87624 18.668 8.93709 18.6667 10.0082C18.668 11.0793 18.4617 12.1401 18.0596 13.1298C17.6576 14.1194 17.0678 15.0183 16.324 15.7749C16.0738 16.0299 15.7345 16.1732 15.3807 16.1732C15.0268 16.1732 14.6875 16.0299 14.4373 15.7749C14.1871 15.5199 14.0466 15.174 14.0466 14.8133C14.0466 14.4527 14.1871 14.1068 14.4373 13.8518C14.9336 13.3478 15.3271 12.7487 15.5953 12.0891C15.8635 11.4294 16.001 10.7222 16 10.0082C16.0011 9.29415 15.8636 8.58693 15.5954 7.92728C15.3272 7.26763 14.9336 6.66858 14.4373 6.16464C14.3134 6.03841 14.215 5.88852 14.1479 5.72353C14.0808 5.55853 14.0463 5.38168 14.0463 5.20307C14.0463 5.02446 14.0808 4.8476 14.1479 4.68261C14.215 4.51762 14.3134 4.36772 14.4373 4.2415Z' fill='white'/%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='24' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.1773 0.597719C11.4209 0.700664 11.6291 0.874918 11.7755 1.09845C11.9219 1.32198 12.0001 1.58475 12 1.85354V18.1629C11.9999 18.4316 11.9217 18.6944 11.7752 18.9178C11.6287 19.1413 11.4205 19.3154 11.1769 19.4183C10.9333 19.5211 10.6652 19.548 10.4066 19.4956C10.148 19.4432 9.91047 19.3138 9.724 19.1238L4.78133 14.0855H1.33333C0.979711 14.0855 0.640573 13.9423 0.390524 13.6875C0.140476 13.4326 0 13.0869 0 12.7264V7.28998C0 6.92953 0.140476 6.58383 0.390524 6.32895C0.640573 6.07406 0.979711 5.93087 1.33333 5.93087H4.78133L9.724 0.892646C9.91046 0.702462 10.1481 0.572926 10.4068 0.520428C10.6655 0.467929 10.9336 0.494828 11.1773 0.597719ZM18.2093 0.397929C18.4594 0.143135 18.7984 0 19.152 0C19.5056 0 19.8446 0.143135 20.0947 0.397929C22.5067 2.8552 24 6.2557 24 10.0068C24 13.758 22.5067 17.1598 20.0947 19.6185C19.8432 19.8661 19.5064 20.003 19.1568 19.9999C18.8072 19.9969 18.4728 19.8539 18.2256 19.6019C17.9784 19.3499 17.8381 19.0091 17.8351 18.6527C17.8321 18.2963 17.9665 17.953 18.2093 17.6967C19.2015 16.6883 19.9883 15.4899 20.5245 14.1704C21.0606 12.8509 21.3355 11.4364 21.3333 10.0082C21.3333 7.00457 20.1413 4.28907 18.2093 2.31971C17.9594 2.06484 17.819 1.71921 17.819 1.35882C17.819 0.998433 17.9594 0.6528 18.2093 0.397929ZM14.4373 4.2415C14.5612 4.11513 14.7082 4.01488 14.8701 3.94649C15.0319 3.87809 15.2054 3.84289 15.3807 3.84289C15.5559 3.84289 15.7294 3.87809 15.8913 3.94649C16.0531 4.01488 16.2002 4.11513 16.324 4.2415C17.0678 4.99807 17.6577 5.89698 18.0597 6.88661C18.4618 7.87624 18.668 8.93709 18.6667 10.0082C18.668 11.0793 18.4617 12.1401 18.0596 13.1298C17.6576 14.1194 17.0678 15.0183 16.324 15.7749C16.0738 16.0299 15.7345 16.1732 15.3807 16.1732C15.0268 16.1732 14.6875 16.0299 14.4373 15.7749C14.1871 15.5199 14.0466 15.174 14.0466 14.8133C14.0466 14.4527 14.1871 14.1068 14.4373 13.8518C14.9336 13.3478 15.3271 12.7487 15.5953 12.0891C15.8635 11.4294 16.001 10.7222 16 10.0082C16.0011 9.29415 15.8636 8.58693 15.5954 7.92728C15.3272 7.26763 14.9336 6.66858 14.4373 6.16464C14.3134 6.03841 14.215 5.88852 14.1479 5.72353C14.0808 5.55853 14.0463 5.38168 14.0463 5.20307C14.0463 5.02446 14.0808 4.8476 14.1479 4.68261C14.215 4.51762 14.3134 4.36772 14.4373 4.2415Z' fill='white'/%3E%3C/svg%3E");
}

.audioplayer-volume-adjust {
    display: none;

}
.audioplayer .slash {
    color: var(--text-dark-gray-to-white) !important;
}


/* responsive | you can change the max-width value to match your theme */

@media screen and (max-width: 679px) {
    .audioplayer-volume-adjust {
        display: none;
    }
}
